.welcome-message {
    text-align: center;
    margin-top: 28px;
    font: 30px Arial, sans-serif;
}

@media (max-width: 768px) {
    .welcome-message {
        font-size: 20px;
        margin-top: 15px;
    }
}

.arrow {
    display: inline-block;
    transition: transform 0.2s ease;
}

/* Par défaut, flèche pointe à droite (▶) */
.arrow::before {
    content: "▶ ";
}

/* Quand le bouton n'a pas la classe collapsed, flèche pointe vers le bas (▼) */
button:not(.collapsed) .arrow::before {
    content: "▼ ";
}

.btn {
    background-color: orangered;
    border: 1px solid orangered;
}
.btn:hover {
    background-color: red;
    border: 1.5px solid red;
}

@media (max-width: 768px) {
    .d-grid {
        width: 98%;
        margin-bottom: 10px;
        font-size: 16px;
    }
}

#collapse4 {
    margin-bottom: 25px;
}