body {
    background-image: url("../images/background.jpeg");
    background-size: cover;      /* makes the image cover the screen */
    background-position: center; /* centers the image */
    background-repeat: no-repeat;
}

/* Couleur normale */
.nav-underline .nav-link {
    color: darkred;
}

/* Survol */
.nav-underline .nav-link:hover {
    color: darkred;
}

/* Actif (clic) */
.nav-underline .nav-link.active,
.nav-underline .nav-link:active,
.nav-underline .nav-link:focus {
    color: darkred;
    border-bottom-color: darkred;
    box-shadow: none;
}