body {
    background-image: url("../images/background.jpeg");
    background-size: cover;     
    background-position: center; 
    background-repeat: no-repeat;
}

/* Couleur normale */
.nav-underline .nav-link {
    color: darkred;
}

/* Survol */
.nav-underline .nav-link:hover {
    color: darkred;
}

/* Actif (clic) */
.nav-underline .nav-link.active,
.nav-underline .nav-link:active,
.nav-underline .nav-link:focus {
    color: darkred;
    border-bottom-color: darkred;
    box-shadow: none;
}

@media (max-width: 380px) {
  .nav-underline .nav-link {
    font-size: 13px;
    padding: 0.25rem 0.3rem;
    white-space: nowrap;
  }
}

@media (max-width: 350px) {
  .nav-underline .nav-link {
    font-size: 12px;
    padding: 0.2rem 0.25rem;
    white-space: nowrap;
  }
}